# Backend Environment Variables
# Copy this file to .env and fill in the values below

# MongoDB Connection String (Atlas or Local)
MONGODB_URI=mongodb+srv://yuvabhargav27_db_user:<PASTE THE PASSWORD HERE>@cluster1.dc2idol.mongodb.net/?appName=Cluster1

# application port
PORT=5000

# Secret for JWT signing
#JWT_SECRET=<for now no need of this key>
